/*sueños en tela*/
*{
    margin: 0;
    padding: 0;
    scroll-behavior: smooth;
}

/*BODY*/
body{
    font-family: 'Poppins', sans-serif;
    color: white;
    min-height: 100vh;
    background-image: linear-gradient(
        rgba(179, 11, 109, 0.75),
        rgba(216, 41, 123, 0.75)),
    url("img/Logo 1.jpeg");

    background-size: contain;
    text-align: center;
    background-attachment: fixed;
    overflow-x: hidden;
}

/*header*/
header{
    background: rgba(255, 255, 255, 0.65);
    backdrop-filter: blur(10px);
    position: sticky;
    top: 0;
    z-index: 1000;
    text-align: center;
    padding: 25px 20px;
    box-shadow: 0 5px 15px rgba(0,0,0,0.08);
    display: flex;
    flex-direction: column;
    align-items: center;
}

/*titulo*/
h1{
    font-family: serif;
    font-size: 55px;
    color: #f149bf;
    margin-bottom: 10px;
    text-shadow: 0 5px 15px rgba(0,0,0,0.1);
}

/*frase*/
.principal{
    font-size: 20px;
    color: #c06c8d;
    margin-bottom: 20px;
}

/*menu*/
nav{
    margin-bottom: 10px;
    display: flex;
    justify-content: center;
    gap: 15px;
    flex-wrap: wrap;
}

/*botones*/
nav a{
    text-decoration: none; 
    background: #ff7ca8;
    color: white;
    width: 200px;
    padding: 12px;
    border-radius: 50px;
    font-weight: 500;
    transition: 0.5s;  
    text-align: center;
}

/*hover menu*/
nav a:hover{
    background: white;
    color: #ff4f87;
    transform:scale(1.08);
    box-shadow: 0 0 60px #ff00aa; 
}

/*seccion*/
section{
    width: 88%;
    margin: 60px auto;
    background: rgba(255, 255, 255, 0.12);
    border-radius: 35px;
    padding: 50px;
    box-shadow: 0 10px 10px rgba (0,0,0,0.4);
}

/*titulo*/
section h2{
    font-family: playfair display, serif;
    font-size: 55px;
    text-align: center;
    color: #ffd6e7;
    margin-bottom: 20px;
    position: relative;
}

/*linea decoradora*/
section h2::after{
    content: "";
    width: 120px;
    height: 4px;
    background: #d989a8;
    display: block;
    margin: 15px auto;
    border-radius: 10px;
}

/*subtitulos*/
section h3{
    text-align: center;
    font-size: 30px;
    color: #ffb6d9;
    margin-top: 30px;
    margin-bottom: 15px;
}

/*texto*/
section p{
    font-size: 18px;
    line-height: 1.9;
    text-align: center;
    color: #f1d2e9;
    margin-bottom: 25px;
}

/*IMAGEN LOGO*/
body img{
    width: 250px;
    max-width: 90%;
    display: block;
    margin: 10px auto 40px auto;
    border-radius: 50%;
    border: 5px solid white;
    box-shadow: 0 0 20px rgba(255,255,255,0.5);
}

/*LISTAS*/
ul{
    margin-left: 25px;
    margin-bottom: 20px;
    color:#e4cfe7;
    text-align: center;
}

ul li{
    margin-bottom: 8px;
    font-size: 17px;
    text-align: center;
}

/*GENERALES*/
a{
    text-align: center;
    color: #ffd6e7;
    text-decoration: none;
    transition: 0.3s;
}

a:hover{
    color: white;
}

/*BOTON VOLVER*/
body a{
    display: block;
    width: fit-content;
    margin: 30px auto;
    background: #ff7ca8;
    color: white;
    padding: 12px 25px;
    border-radius: 30px;
    font-weight: bold;
    box-shadow: 0 5px 15px rgba(0,0,0,0.4);
}

body a:hover{
    background: white;
    color: #ff4f87;
}

/*GALERIAS*/
.Otros{
    display: flex;
    flex-wrap: nowrap;
    overflow-x: auto;
    gap: 20px;
    padding: 20px;
}

/*IMAGENES*/
.Otros img,
div img{
    width: 220px;
    height: 300px;
    object-fit: cover;
    border-radius: 20px;
    transition: 0.4s;
    box-shadow: 0 8px 20px rgba(0,0,0,0.5);
}

/*EFECTO IMAGEN*/
.Otros img:hover,
div img:hover{
    transform: scale(1.06);
}

/*PARA QUE ESTEN EN UNA SOLA LINEA*/
.galeria{
    display: flex;
    gap: 20px;
    overflow-x: auto;
    padding: 20px;
}

/*FORMULARIO*/
form{
    align-items: center;
    text-align: center;
    display: flex;
    flex-direction: column;
    gap: 25px;
    width: 100%;
}

/*TIPO DE VESTIDO*/
select{
    width: 90%;
    max-width: 350px;
    padding: 14px;
    border-radius: 20px;
    border: none;
    text-align: center;
    font-size: 18px;
}

/*TEXTO TIPO*/
label{
    display: block;
    text-align: center;
    width: 100%;
    font-size: 25px;
    color: #ff7d7a;
}

/*TITULO DECORACIONES*/
.titulo-decoraciones{
    text-align: center;
    color: #ffd6e7;
    font-size: 40px;
    margin-top: 30px;
    margin-bottom: 35px;
}

/*CONTENEDOR*/
.decoraciones{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 10px;
    margin-top: 10px;
}

/*LABELS*/
.decoraciones label{
    display: flex;
    align-items: justify;
    justify-content: justify;
    gap: 10px;
    width: 200px;
    padding: 15px;
    background: rgba(255,255,255,0.12);
    backdrop-filter: blur(5px);
    border-radius: 10px;
    font-size: 20px;
    color: white;
    box-shadow: 0 5px 15px rgba(0,0,0,0.15);
    transition: 0.3s;
}

/*EFECTO*/
.decoraciones label:hover{
    transform: scale(1.03);
    background: rgba(255,255,255,0.2);
}

/*CHECKBOX*/
.decoraciones input[type="checkbox"]{
    width: 22px;
    height: 22px;
    accent-color: #ff69b4;
    cursor: pointer;
}

/* COLOR VESTIDO */
.color-vestido{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 25px;
}

/* TEXTO COLOR */
.color-vestido label{
    font-size: 24px;
    color: #ff7d7a;
    margin-bottom: 12px;
}

/* SELECT */
.color-vestido select{
    width: 100%;
    max-width: 400px;
    text-align: center;
}

/* INPUTS */
input,
select,
textarea{
    padding: 10px;
    border: none;
    border-radius: 15px;
    outline: none;
    font-size: 16px;
}

/* TEXTAREA */
textarea{
    width: 80%;
    max-width: 350px;
    height: 100px;
    border-radius: 20px;
    border: none;
    padding: 15px;
    resize: none;
    font-size: 16px;
    text-align: center;
}

/* BOTON */
button{
    width: 80%;
    max-width: 320px;
    background: #ff7ca8;
    color: white;
    border: none;
    padding: 14px;
    border-radius: 30px;
    font-size: 18px;
    cursor: pointer;
    transition: 0.3s;
    font-weight: bold;
}

/* EFECTO BOTON */
button:hover{
    background: white;
    color: #ff4f87;
    transform: scale(1.05);
}

/*Fondo oscuro que se pone detrás*/
.fondo-oculto {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.4); /* negro transparente */
    z-index: 998;
}

/* El cuadro del mensaje en el centro */
.cuadro-oculto {
    display: none;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    /*color rosado claro*/
    background-color: #f8e6ee; 

    /*borde rosado más fuerte*/
    border: 2px solid #b86b8c;
    padding: 25px 40px;

    /*esquinas redondas*/
    border-radius: 12px;

    /*sombrita*/
    box-shadow: 0 4px 12px rgba(0,0,0,0.2);
    font-size: 18px;

    /*letra color vino/rosado oscuro*/
    color: #70294a;
    font-weight: bold;
    text-align: center;
    z-index: 999;
}

/*Estilo del botón de Cerrar*/
.cuadro-oculto button {
    /*mismo color del borde*/
    background-color: #b86b8c;
    color: white;
    border: none;
    padding: 6px 15px;
    border-radius: 6px;
    cursor: pointer;
}

.cuadro-oculto button:hover {
    /*se oscurece un poco al pasar el mouse*/
    background-color: #9a4e70; 
}

/*CONTACTO IMAGEN*/
#contacto img{
    width: 300px;
    display: block;
    margin: 20px auto;
    border-radius: 20px;
}

/*GRACIAS*/
.gracias{
    text-align: center;
    margin-top: 30px;
    font-size: 20px;
    color: #f7d27a;
    font-weight: bold;
}

/* CALIFICACION */
.evaluacion{
    display: flex;
    justify-content: center;
    flex-direction: row-reverse;
    gap: 8px;
    margin-top: 25px;
}

/* OCULTAR INPUT */
.evaluacion input{
    display: none;
}

/* ESTRELLAS */
.evaluacion label{
    font-size: 50px;
    color: #ccc;
    cursor: pointer;
    transition: 0.3s;
}

/* ICONO */
.evaluacion label::before{
    content: "★";
}

/* HOVER */
.evaluacion label:hover,
.evaluacion label:hover ~ label{
    color: gold;
}

/* SELECCIONADAS */
.evaluacion input:checked ~ label{
    color: gold;
}

/* IMÁGENES RESPONSIVAS */
img{
    max-width: 100%;
    height: auto;
}

/* CONTENEDORES */
.container,
.contenedor,
.content{
    width: 90%;
    max-width: 1200px;
    margin: auto;
}

/*agradecimiento*/
.agradecimientoo{
    font-family:Arial;
    background: linear-gradient(to bottom, #fff8f9, #ffeef3);
    display:flex;
    justify-content:center;
    align-items:center;
    height:100vh;
}

.caja-agradecimiento{
    background:white;
    padding:50px;
    border-radius:20px;
    text-align:center;
    width:400px;
}

.titulo-agradecimiento{
    color: #c06c8d;
    margin-bottom:20px;
}

.mensaje-agradecimiento{

    color:#333;
    margin-bottom:30px;
}

.boton-enviar{
    background:#c06c8d;
    color:white;
    text-decoration:none;
    padding:15px 25px;
    border-radius:12px;
    display:inline-block;
    transition:0.3s;
}

/* CELULARES */
@media (max-width: 768px){

    nav a {width: 180px;
    font-size: 16px;
}

    section{
    padding: 25px;
}

section h2{
    font-size: 35px;
}

section h3{
    font-size: 24px;
}

body img{
    width: 180px;
}
}
    
